# Dependencies for testing
tox==3.14.5
  colorama==0.4.3
  filelock==3.0.12
  packaging==20.3
    pyparsing==2.4.6
    six==1.14.0
  pluggy==0.13.1
  py==1.8.1
  six==1.14.0
  toml==0.10.0
  virtualenv==20.0.10
    appdirs==1.4.3
    distlib==0.3.0
    filelock==3.0.12
    six==1.14.0
