# Dependencies for building
flit==2.3.0
  docutils==0.16
  flit-core==2.3.0
    pytoml==0.1.21
  pytoml==0.1.21
  requests==2.24.0
    certifi==2020.6.20
    chardet==3.0.4
    idna==2.10
    urllib3==1.25.9
