# Dependencies for building
flit==3.2.0
  docutils==0.17.1
  flit-core==3.2.0
    toml==0.10.2
  requests==2.25.1
    certifi==2020.12.5
    chardet==4.0.0
    idna==2.10
    urllib3==1.26.4
  toml==0.10.2
